
<div class="span2"></div>
  
 <div class="span4 container-fluid pull-left">
  
   	<h2 class="z">Calculators</h2>
   	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <%= image_tag("twowaypic.JPG",:class => "img-circle") %>
		    </a>
			<a  href="" target="_blank"><span class="b"><b>2-way X-over</b></span> </a>
		  
		</div>
	</div>  
	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <%= image_tag("threewaypic.JPG",:class => "img-circle") %>
		    </a>
			<a  href="" target="_blank"><span class="b"><b>3-way X-over</b></span> </a>
		  
		</div>
	</div>              
   <div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <%= image_tag("enclosurepic.JPG",:class => "img-circle") %>
		    </a>
			<a  href="" target="_blank"><span class="b"><b>Enclosure</b></span> </a>
		  
		</div>
	</div>        
 
 </div>
<div class="span1"> </div>
<div class="span5">
   <div class="row-fluid pull-right">
   	<h2 class="z">Other Links</h2>
   	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <%= image_tag("aboutmepic.JPG",:class => "img-circle ") %>
		    </a>
			<a  href="" target="_blank"><span class="c"><b>about</b></span> </a>
		  
		</div>
	</div>
	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <%= image_tag("projectspic.JPG",:class => "img-circle") %>
		    </a>
			<a  href="" target="_blank"><span class="c"><b>my projects</b></span> </a>
		  
		</div>
	</div>
	<div class="modal-body">
	<div class="container-fluid">
			<a  href="" target="_blank">
		    <%= image_tag("resumepic.JPG",:class => "img-circle") %>
		    </a>
			<a  href="" target="_blank"><span class="c"><b>my resume</b></span> </a>
		  
		</div>
	</div>                
   </div> 
 </div>
 
 


